# Final Project Data Science Tools

## Introduction
This notebook serves as the project for coursera course.

## Data Science Languages
Common languages used by data scientists include:
1. Python
2. R
3. SQL

## Data Science Libraries
1. Pandas
2. Scikit-learn
3. TensorFlow

## Data Science Tools
| Tool        | Category        |
|-------------|----------------|
| JupyterLab  | Notebook    |
| RStudio     | Notebook    |

## Examples of Arithmetic Expressions
Below are some simple examples of expressions in Python.

In [3]:
result = (1 * 1) + 5
result

6

In [4]:
minutes = 360
hours = minutes / 60
hours

6.0

## Objectives
- List popular data science languages
- List commonly used libraries
- Demonstrate simple arithmetic in Python
- Share notebook on GitHub

## Author
Kaixuan Chen